#wrapper { 
    width:100vw;
    height:100vh;
    background-color: gray;
}

.h3 {
    color: white;
    text-align: center;
}

.p {
    color: white;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}